/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo-Light', Arial, sans-serif;
}

@font-face {
    font-family: 'Heebo-Light';
    src: url('resources/fonts/Heebo-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body,
a,
nav ul li a {
    color: #333;
    transition: 0.3s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a:hover {
    color: #4a90e2;
}

/* Header */
header {
    background-color: #4a90e2;
    padding: 10px 0;
}

header .logo {
    font-size: 26px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000;
    transition: transform 0.3s ease;
}

header .logo:hover {
    transform: scale(1.1);
}

header .logo-image {
    max-width: 100px;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s;
}

header .rotated {
    transform: rotate(360deg);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav ul li a {
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.4);
}

/* Main Content & Sidebar */
main,
aside {
    padding: 20px 0;
}

.sticky-aside {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

/* Other shared styles and utilities */
.card {
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Profile Page Styles */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.username,
.groups {
    font-size: 24px;
    margin-bottom: 5px;
}

.gender,
.proficient,
.degree,
.phone,
.email,
.intrested_in,
.groups_in {
    font-size: 16px;
    margin-bottom: 5px;
    color: #777;
}

.profile .card {
    text-align: center;
}